
@model IEnumerable<Domain.Video>

@{
    ViewBag.Title = "YouTubefy - Playing {{youtube.videoTitle}}";
    var videoTitle = "{{video.title}}";
    var videoAuthor = "{{video.author}}";
}
<div id="mainDiv">
    <header></header>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 bg" id="leftColumn">

                <H1>Search results</H1>
                <div id="results">
                    <div class="video" ng-repeat="video in results">
                        <img class="video-image" ng-src="{{ video.thumbnail }}">
                        <p class="video-title">@videoTitle</p>
                        <input class="btn-info btn" value="Play" type="button" ng-click="playVideo(video.id,video.title)" />
                        <input class="btn-success btn" type="button" value="Add to playlist" ng-click="addVideoToList(video.id, video.title)" />
                        @*<p class="video-author">@videoAuthor</p>*@
                        <hr />
                    </div>
                </div>

        </div>
        <div class="col-sm-6 col-md-6 col-lg-6" id="middleColumn">

                <h2 id="currentlyPlaying">Currently Playing: {{ youtube.videoTitle }}</h2>
                <div id="player">
                    <div id="placeholder"></div>
                </div>

        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 list-group" id="rightColumn">
            
                <H1>Playlist</H1>
                <div id="customPlaylist">
                    <table class=" table-striped">
                        <tr ng-repeat="video in playList">
                            <td>
                                <p class="video-title" ng-click="playVideo(video.id, video.title)">@videoTitle</p>
                                <input id="removeButton" class="btn-default btn btn-danger" type="button" value="Remove" ng-click="removeVideoFromPlaylist(video.id)" />
                            </td>
                        </tr>
                    </table>
                </div>

        </div>
    </div>
</div>