
@model IEnumerable<Domain.Video>

@{
    ViewBag.Title = "{{youtube.videoTitle}} : YouTubefy";
    var videoTitle = "{{video.title}}";
    var videoAuthor = "{{video.author}}";
}
<div id="mainDiv">
    <header></header>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 bg" id="leftColumn">

            <H1>Search results</H1>
            <!--<button id="testBtn" onclick="callApi()">Click to Test API</button>
            <p id="apiResult">---</p>-->
            <div id="results">
                <div class="video" ng-repeat="video in results">
                    <img class="video-image" ng-src="{{ video.thumbnail }}">
                    <p class="video-title">@videoTitle</p>
                    <input class="btn-info btn" value="Play" type="button" ng-click="playVideo(video.id,video.title)"/>
                    <input class="btn-success btn" type="button" value="Add to playlist" ng-click="addToVideoDb(video.id,video.title,activePlaylist)"/> <!--ng-click="addVideoToList(video.id, video.title)"-->
                    @*<p class="video-author">@videoAuthor</p>*@
                    <hr/>
                </div>
                <button id="loadMoreResultsButton" ng-click="search(false)">Load more results</button>
            </div>

        </div>
        <div class="col-sm-6 col-md-6 col-lg-6" id="middleColumn">

            <h2 id="currentlyPlaying">Currently Playing: {{youtube.videoTitle}}</h2>
            <div id="player">
                <div id="placeholder"></div>
            </div>

        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 list-group" id="rightColumn">
            <!--<button id="justForTestingAngularFunctions" ng-click="addToVideoInPlaylistDb(1, playlistName, activePlaylist)">Button for testing Angular Functions</button>
            <button id="getPlaylist" onclick="callApi()">Click to get API</button>-->

            <!--Form beginning for SEARCHING a playlist from database-->
            <form class="input-group-lg" ng-submit="checkIfPlaylistExists(playlistName)">
                <input class="oymate" id="queryGetVideos" name="q" type="text" placeholder="Get playlist" ng-model="playlistName">
                <!--<input id="submit" type="image" src="search.png" alt="Search">-->
                <input class="btn-info btn btn-lg" type="submit">
            </form>
            <p>{{test}}</p>

            <!--Form beginning for CREATING a playlist to database-->
            <form class="input-group-lg" ng-submit="createPlaylistDb(createPlaylistName)">
                <input class="oymate" id="query" name="q" type="text" placeholder="Create playlist" ng-model="createPlaylistName">
                <!--<input id="submit" type="image" src="search.png" alt="Search">-->
                <input class="btn-info btn btn-lg" type="submit">
            </form>

            <!--Playlist results for current playlist-->
            <H1>Playlist - {{activePlaylist}}</H1>
            <div id="customPlaylist">
                <table class="table-striped">
                    <tr ng-repeat="video in playList">
                        <td>
                            <p class="video-title" ng-click="playVideo(video.id, video.title)">{{video.title}}</p>
                            <input id="removeButton" class="btn-default btn btn-danger" type="button" value="Remove" ng-click="removeFromPlaylist(video.id, video.removeId)"/>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        function showError(jqXHR) {
            console.log("showError --- " + jqHXR.status + " : " + jqXHR.statusText);
        }

        $("#testBtn")
            .submit(function (event) {
                console.log("API call called clallaccel");
                var url = 'http://localhost:43467/Token';
                var loginData = {
                    grant_type: 'password',
                    username: "1@eesti.ee",
                    password: "a"
                };
                $.ajax({
                        type: 'POST',
                        url: 'http://localhost:43467/Token',
                        data: loginData
                    })
                    .done(function(data) {
                        console.log("Returned Data from API: " + data);
                    })
                    .fail(showError);
            });

        function callApi() {
            console.log("API call called 2");
            var url = 'http://localhost:43467/Token';
            var loginData = {
                grant_type: 'password',
                username: "1@eesti.ee",
                password: "a"
            };
            $.ajax({
                type: 'POST',
                url: url,
                data: loginData
            })
                .done(function(data) {
                    console.log("Returned Data from API: " + data.access_token);
                    $("#apiResult").html(data.userName);
                })
                .fail(showError);
        }
    </script>
}