<!DOCTYPE html>
<html ng-app="YouTubefy">
<head>
    <meta charset="utf-8">
    <title>YouTubefy</title>
</head>
<body ng-controller="googleController">
    <header>
        <h1>You<strong>Tubefy</strong></h1>
        <form id="search" ng-submit="search()">
            <input id="query" name="q" type="text" placeholder="Search for a YouTube video" ng-model="query">
            <input id="submit" type="image" src="search.png" alt="Search">
        </form>
    </header>
    <div id="results">
        <div class="video" ng-repeat="video in results" ng-click="playVideo(video.id)">
            <img class="video-image" ng-src="{{ video.thumbnail }}">
            <p class="video-title">{{ video.title }}</p>
            <p class="video-author">{{ video.author }}</p>
            <p class="video-description">{{ video.description }}</p>
        </div>
    </div>

<div id="player">
    <div id="placeholder"></div>
</div>

<script src="angular.min.js"></script>
    <script src="angular-local-storage.js"></script>
    <script src="AngularTube.js"></script>
</body>
</html>
